@page
@using ClassLibrary.Core.Helpers
@model IndexModel
@{
}

<div class="text-center">
    @if (UserState.CurrentUser != null)
    {
        <h1 class="display-4">Welcome @UserState.CurrentUser.Name</h1>
    }
    else
    {
        <h1>Welcome</h1>
    }
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
