@page
@model CarDealership.Pages.LoginWebsite
@{
    ViewData["Title"] = "LoginWebsite";
}


<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">Login</h2>
        <form method="post">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label for="email" class="form-label">Brugernavn:</label>
                <input type="text" id="email" asp-for="EmailInput" class="form-control" placeholder="Indtast email" required />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Adgangskode:</label>
                <input type="password" id="password" asp-for="PasswordInput" class="form-control" placeholder="Indtast adgangskode" required />
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>


        <div class="text-center mt-3">
            <li class="nav-item"><a class="nav-link text-dark" asp-page="/LoginWebsite">Login</a></li>
        </div>
    </div>
</div>
v>